.protected-route h2 {
    text-align: center;
    margin-top: 3rem;
}

.protected-route p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    margin-top: 1rem;
}