.cancel-reservation .modal-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  width: 450px;
}

.cancel-reservation .modal-content label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.cancel-reservation .modal-content select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #f9f9f9;
}

.cancel-reservation .modal-content .error-message {
  color: red;
  font-size: 16px;
  margin-top: 10px;
  text-align: left;
}

.cancel-reservation .modal-content .success-message {
    color: green;
    font-size: 16px;
    margin-top: -10px;
    margin-bottom: 20px;
    text-align: left;
  }
