* {
  cursor: default;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.loading, .fetching-error {
  display: flex;
  justify-content: center;
  align-items: center;
}

.general-btn {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.general-btn:hover {
    background-color: #0056b3;
  }

.checkin-btn:hover {
  background-color: #00a300;
}

.checkout-btn:hover {
    background-color: #a30000;
  }

